/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/

body {}

img {
    max-height: 340px;
}

h3 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Default link styling */

a:link {
    color: #209DD9;
}

a:visited {
    color: #209DD9;
}

a:hover,
a:focus {
    color: #000;
}

a:active {
    color: #209DD9;
}

noscript div {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF
}

noscript h1,
noscript p {
    padding: 20px;
    color: red;
}


/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/

@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }
    html {
        background-color: #fff;
    }
    /* Hide navigation */
    nav {
        display: none;
    }
    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href)") ";
    }
    a[href] {
        font-weight: bold;
        text-decoration: underline;
        color: #209DD9;
        border: none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title)")";
    }
    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }
    figure img {
        border: 1px solid #000;
    }
}


/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

input,
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #6A6A69;
    border: 1px solid white;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(225, 244, 253);
}

@font-face {
    | font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

body {
    background-color: white;
    color: white;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover,
a:focus {
    color: white;
}

a:active {
    color: white;
}

p {
    margin: 0px;
}

.center {
    text-align: center;
}

.with-linebreaks {
    white-space: pre-line;
}

#background-border {
    width: 100%;
    height: 1px;
    position: absolute;
}

#all-wrapper {}

#content-wrapper {
    position: relative;
    background-color: #7F8282;
    background-repeat: no-repeat;
}

#inner-content-wrapper {}

.eyecatcher.part #right-wrapper {
    background-image: url('../img/top_area_part_right_overlay.png');
}

#top-area {}

.part #top-area {
    background-image: url('../img/top_area_part.png');
}

#logo-area {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row.top-row {
    background-color: white;
    margin-top: 20px;
}

#eyecatcher-area {
    position: relative;
    overflow: visible;
    display: none;
}

.eyecatcher #eyecatcher-area {
    display: block;
}

.eyecatcher #eyecatcher-area-outside {
    position: absolute;
}

.occ {}

.occ .icc {}

#title {
    background-color: #FF3366;
    font-size: 16px;
    line-height: 1;
}

.title #title {}

#inner-content-wrapper #title p {
    font-size: 16px;
}

#inner-content-wrapper #title-top,
#inner-content-wrapper #title-top p {
    background-color: #0066CC;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px
}

.eyecatcher #title-top {}

.title-top #title-top {
    display: table;
}

#title_feedback_text {
    display: none;
}

.eyecatcher #title_feedback_text {}

.title_feedback_text #title_feedback_text {
    display: table;
}

#graph {
    display: none;
}

.graph #graph {
    display: block
}

#text-full,
#text-full,
#text-bottom-center,
#text-bottom-scroll,
#feedback-text {
    display: none;
    padding: 0px 15px;
    ;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}

#feedback-text {
    display: block;
}

.eyecatcher #text-full {
    width: 460px;
}

.text-full #text-full {
    display: block;
}

#text-bottom-scroll {
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.text-bottom-scroll #text-bottom-scroll {
    display: block;
}

#text-bottom-center {
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.text-bottom-center #text-bottom-center {
    display: table;
}

#eyecatcher-image {}

#eyecatcher-overlay {}

#buttons {
    text-align: right;
}

#button-previous,
#button-next {
    display: none;
    cursor: pointer;
}

.button-next #button-next,
.button-previous #button-previous {
    display: inline-block;
}

#image-bottom {
    display: none;
}

.image-bottom #image-bottom {
    display: block;
}

#media-full img,
#media-bottom img,
#media-full audio,
#media-bottom audio,
#media-full video,
#media-bottom video,
#media-full iframe,
#media-bottom iframe {
    margin: 0 auto;
    max-height: 900px;
}

.multi-box {
    width: 100%;
    float: left;
}

.multi-question {
    text-align: left;
}

.multi-question {
    padding-top: 10px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 0px;
}

.select-one {
    text-align: center;
}

.select-one-multi {
    text-align: center;
}

.select-box,
#text-box input,
#text-box-multiline textarea,
#number-box input {
    text-align: center;
    margin: 20px 10%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 4px solid #5E6060;
    background-color: #5E6060;
    padding-top: 5px;
    padding-bottom: 5px;
}

#text-box input,
#text-box-multiline textarea,
#number-box input {
    margin: 0px;
    width: 100%;
}

.select-box.checked,
#text-box input.correct,
#text-box-multiline textarea.correct,
#number-box input.correct {
    background-color: white;
    border: 4px solid #209DD9;
    background-position: center;
    background-repeat: no-repeat;
}

.select-box.slider {
    padding: 0 0 0 0;
    margin: 0px 20px;
    background-color: inherit;
    height: 50px;
    border: 0px;
}

.select-box.checked p {
    color: #222;
}

.select-box p {
    text-align: center;
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
}

.select-box.pic-2-big-lukas p {
    text-align: left;
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
}

.select-box.pic-2-big-anna p {
    text-align: left;
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
}

.select-box.text-2 {
    background-repeat: no-repeat;
    background-position: 40px center;
}

.select-box.text-2 p {
    position: relative;
    float: right;
    padding-top: 20px;
    text-align: left;
}

.select-box.text-2-big p {
    position: relative;
}

.select-box.pic-2-big-lukas {
    position: relative;
    height: 150px;
    background-image: url("../img/lukas.png");
    background-repeat: no-repeat;
    background-position: center;
}
.select-box.pic-2-big-anna {
    position: relative;
    height: 150px;
    background-image: url("../img/anna.png");
    background-repeat: no-repeat;
    background-position: center;
}

.select-box.text-3 p {
    float: right;
    padding-top: 20px;
    text-align: left;
}

.select-box.text-5 p {
    position: relative;
    float: left;
    text-align: center;
}

.with_number {
    width: 80%;
    float: left;
}

#content-wrapper .with_number p {
    padding-top: 5px;
}

#content-wrapper .select-box p.number {
    position: relative;
    float: left;
    margin-left: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #209DD9;
    padding-top: 0px;
    text-align: center;
    width: 5%;
    padding-top: 2px;
}

#media-full {
    margin: 20px 20px;
    text-align: center;
}

#content-wrapper .with_number .with-linebreaks {
    width: 84%;
    float: right;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
}

.lickert-3-6 {
    margin: 0 8px;
    margin-top: 10px;
}

select-one-lickert-3-6 {}

#content-wrapper .lickert-3-6 p {
    margin-top: 0px;
    color: #209DD9;
    font-size: 34px;
}

#content-wrapper .lickert-3-6 p.checked {
    margin-top: 0px;
    color: #209DD9;
    font-size: 34px;
}

.select-box.text-3-9 {
    position: relative;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 4px;
}

.select-box.text-3-9 p {
    position: relative;
    padding: 5px 0px 5px 15px;
    text-align: left;
}

.select-box.text-3-9 p.number {
    font-size: 35px;
    font-weight: bold;
    color: #62778c;
    overflow: visible;
    text-align: center;
}

.select-box.lickert-3-6 p {
    font-size: 35px;
    font-weight: bold;
    color: #62778c;
    overflow: visible;
    padding-top: 5px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center 0px;
}

.select-one-text-2-big-without-numbers p {
    font-size: 20px;
}

.select-one-pic-2-big-without-numbers p {
    font-size: 20px;
}

.scale-left,
.scale-right {
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.scale-left {
    padding-right: 10px;
    text-align: left;
}

.scale-right {
    padding-left: 10px;
    text-align: right;
}

#select-one-lickert-3-6 {
    display: none;
}

.select-one-lickert-3-6 #select-one-lickert-3-6,
.select-one-lickert-3-6 .likert-wrapper {
    display: block;
}

#select-one-slider {
    display: none;
}

.select-one-slider #select-one-slider,
.select-one-slider .slider-wrapper {
    display: block;
}

#select-one-text-2 {
    display: none;
}

.select-one-text-2 #select-one-text-2 {
    display: block;
}

#select-one-pic-2-big-without-numbers {
    display: none;
}

.select-one-pic-2-big-without-numbers #select-one-pic-2-big-without-numbers {
    display: block;
}

#select-one-text-2-big-without-numbers {
    display: none;
}

.select-one-text-2-big-without-numbers #select-one-text-2-big-without-numbers {
    display: block;
}

#select-one-text-1-multi {
    display: none;
}

.select-one-text-1-multi #select-one-text-1-multi {
    display: block;
}

#select-one-text-2-multi {
    display: none;
}

.select-one-text-2-multi #select-one-text-2-multi {
    display: block;
}

#select-one-text-3 {
    display: none;
}

.select-one-text-3 #select-one-text-3 {
    display: block;
}

#select-one-text-3-big {
    display: none;
}

.select-one-text-3-big #select-one-text-3-big {
    display: block;
}

#select-one-text-4 {
    display: none;
}

.select-one-text-4 #select-one-text-4 {
    display: block;
}

#select-one-text-5 {
    display: none;
}

.select-one-text-5 #select-one-text-5 {
    display: block;
}

#select-one-text-3-9 {
    display: none;
}

.select-one-text-3-9 #select-one-text-3-9 {
    display: block;
}

#consent-info {
    display: none;
}

.consent #consent-info {
    display: block;
}

#consent-info {
    font-size: 12px;
}

#text-box,
#text-box-multiline,
#number-box,
#number-drinks-selection,
#password-box {
    display: none;
}

#text-box p,
#text-box-multiline p,
#number-box p,
#password-box p {
    padding-bottom: 10px;
}

#text-box input,
#text-box-multiline textarea,
#number-box input,
#password-box input {
    text-align: center;
    color: white;
}

#text-box-multiline textarea {
    min-height: 140px;
    padding: 10px;
}

input::-ms-clear {
    display: none;
}

#text-box input:focus,
#number-box input:focus,
#password-box input:focus {
    outline-width: 0;
    outline: none;
}

.text-box #text-box,
.text-box-multiline #text-box-multiline,
.number-box #number-box,
.number-drinks-selection #number-drinks-selection,
.password-box #password-box {
    display: block;
}

#hidden {
    display: none;
}

.message {
    font-size: 16px;
}


/*New Version*/

#text-box,
#text-box-multiline {
    width: 80%;
    margin: 0 auto;
}

#title {
    padding: 15px;
}

body {
    line-height: 1.4;
    background-color: rgb(225, 244, 253);
}

.inner-content {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #6A6A69;
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 70%;
    color: #666;
    margin-bottom: 15px;
}


/*.inner-content .row, .inner-content{
    background-color: #7F8282;
}*/

#deco-header {
    background-color: #0066CC;
    height: 20px;
}

#nav {
    background-color: white;
    height: 75px;
}

.nav-arrow {
    padding: 5px 10px;
    background-color: #5E6060;
    text-align: center;
    cursor: pointer;
    height: 75px;
}

.nav-arrow i {
    font-size: 65px;
    color: #209DD9;
}

.right-nav {}

.ZebraDialog {
    max-width: 90%;
}

@media(max-width:325px) {
    footer img {
        padding-left: 10px;
        height: 29px;
        ;
        width: auto;
        float: left;
    }
}


/*For profile page*/

#myState .content,
#myGroup .content,
#myCredits .content,
.video-wrapper {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 15px;
}

#myState .header {
    background-color: #64c0eb;
    padding-bottom: 10px;
}

#myState .content {
    background-color: #8D8C8F;
}

#myGroup .header,
#myCredits .header {
    background-color: #1AA1E1;
    padding-bottom: 10px;
}

#profile {
    padding-top: 0px;
    padding-bottom: 0px;
}

#profile p {
    font-size: 14px;
    padding-top: 10px;
}

.add-info {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #403E3F;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
}

.credit-number {
    font-size: 70px;
    text-align: center;
    color: white;
    margin: 48px 0px;
}

#myState img {
    margin: 40px auto;
}

.under-wrapper {
    margin: 20px 0px;
}

.slick-prev::before,
.slick-next::before {
    color: #333;
}

#sponsorCarousel {}

#sponsorCarousel {
    padding: 10px 40px;
    background-color: white;
}

.item {
    height: 170px;
}

.item img {
    max-height: 170px;
    padding: 10px;
}

.carousel-inner img {
    margin: auto;
    vertical-align: middle;
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
}

.video-wrapper {
    background-color: white;
}

.video-wrapper {
    float: left;
    width: 100%;
}

.video-inner-wrapper {
    padding: 15px;
    float: left;
    width: 100%;
    color: #7F8282;
}

.video-inner-wrapper div {
    border-radius: 10px;
}

.video-inner-wrapper div:nth-child(odd) {}

.video-wrapper .add-info {
    text-align: center;
}


/*Challenge*/

.entry {
    margin: 20px 0px;
    padding: 10px;
    background-color: #E5E4E7;
    color: #333;
    border-radius: 5px;
    width: 100%;
}

.entry-wrapper {
    float: left;
    width: 100%;
    background-color: #7f8282;
}

.entry {
    float: left;
    font-size: 14px;
}

#challengeOverview .entry {
    font-size: 18px;
}

.entry .likes {
    width: 20%;
    float: left;
    font-size: 16px;
}

.content #image-full {
    padding-bottom: 20px;
}

.likes span {}

.likes .count {
    margin-top: 5px;
    margin-left: 10px;
}

.likes .count,
.likes img {
    float: left;
}

.entry .entry-text {
    float: right;
    width: 80%;
}

#challengeOverview.own .entry .entry-text {
    width: 100%;
}

#challengeOverview.own div.likes {
    display: none;
}

.vote {
    cursor: pointer;
}

.vote:hover {}

#challengeOverview {
    padding-top: 0px;
    padding-bottom: 0px;
}

#challengeOverview.own .entry .entry-text {}

.finished .vote {
    cursor: default;
}

input,
textarea {
    outline: none;
    outline-color: transparent;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

#entrySubmitButton {
    width: 200px;
    background-color: #7f8282;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 5%;
    float: right;
}

#myState textarea {
    width: 90%;
    margin: 20px 5%;
    background-color: #e5e4e7;
    height: 100px;
    padding: 10px;
    color: #333;
}

.medal {
    margin-top: -4px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.medal-small {
    margin-top: -5px;
    width: 15px;
    height: 15px;
    margin-top: -2px !important;
    margin-bottom: 0px !important;
}

.top-row img {
    max-height: 80px;
    width: auto;
    margin-top: 10px;
}

.bronce-back {
    background: url("../img/border_bronce.png") no-repeat center center;
    background-size: contain;
    padding: 15px;
}

.silver-back {
    background: url("../img/border_silver.png") no-repeat center center;
    background-size: contain;
    padding: 15px;
}

.gold-back {
    background: url("../img/border_gold.png") no-repeat center center;
    background-size: contain;
    padding: 15px;
}

.no-back {
    padding: 15px;
}

#profile-link #title {
    text-align: center;
    font-weight: bold;
}

.ranking-scala {
    background-size: contain;
    height: 233px;
    width: 300px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.ranking-scala.de-CH {
    background: url("../img/scala_DE.png") no-repeat center center;
}

.ranking-scala.fr-CH {
    background: url("../img/scala_FR.png") no-repeat center center;
}

.rank {
    background-color: silver;
    width: 20px;
    height: 60px;
    position: absolute;
    bottom: 28px;
    left: 33.5%;
    ;
}

.rank_2 {
    left: 58.5%;
}

.rank-wrapper {
    width: 200px;
    margin: auto;
    position: relative
}

.fa-thumbs-up {
    font-size: 40px;
    color: #666;
}

.entry-image {
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    float: left;
}

.entry-image +.entry {
    margin-top: 0px;
}

#photoUploadButton {
    background-color: #7f8282;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5%;
    padding: 5px 10px;
    width: 200px;
}

#myState .upload {
    padding-bottom: 0px;
}

#myState .entry {
    background-color: #7f8282;
    color: white;
}

#myState .entry img {
    margin: 0px;
}

#myState .done {
    min-height: 170px;
}


/*graph*/

.js-plotly-plot .plotly,
.js-plotly-plot .plotly div {
    margin: 0 auto;
}

#text-full,
#text-bottom-center,
#text-bottom-scroll,
#feedback-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

#feedback-box {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #209DD9;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
}


/* new templates*/

#profile,
#challenge {
    display: none
}

.feedback #feedback,
.survey #survey,
.profile #profile,
.text #challenge,
.image #challenge {
    display: block;
}

.profile #feedback,
.profile #survey,
.text #survey,
.image #survey {
    display: none
}


/*likert*/

.likert {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 35px;
    display: block;
    float: left;
    margin-top: 30px;
}

.likert:last-of-type {
    border-bottom: 0;
}

.likert li {
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: top;
}

.multi-question .icc {
    font-weight: bold;
}

.likert-wrapper .multi-question {
    padding-left: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.slider-wrapper .multi-question {
    padding-left: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.multi-question h4 {
    font-weight: bold;
    padding-right: 15px;
}

#content-wrapper .likert .select-box {
    margin: 0px auto;
    padding: 0px;
    border-radius: 100px;
    max-width: 60px;
}

.green {
    color: #11d900;
}

.yellow {
    color: orange;
}

.red {
    color: red;
}

#trafficlight {
    display: none;
}

#beyou,
#besmart,
#behealthy {
    display: none;
}

.beyou #beyou,
.besmart #besmart,
.behealthy #behealthy {
    display: block;
}

.trafficlight #trafficlight {
    display: block;
}

.trafficlight_inner {
    border: 1px solid #5E6060;
    font-size: 16px;
    color: #5E6060;
    padding: 10px;
    margin: 20px 0px;
    background-color: white;
    border-radius: 5px;
    min-height: 202px;
}

.traffliclight_inner .fa {
    display: inline;
}

#trafficlight h4 {
    text-align: center;
    font-size: 20px;
}

#trafficlight ul {
    margin-left: 5px;
    padding-left: 5px;
}

#trafficlight ul li {
    list-style: none;
    padding: 5px 0px
}

#trafficlight ul li i {
    text-align: right;
    float: right;
    padding-right: 10px;
    font-size: 20px;
}

#content-wrapper .likert .select-box p {
    padding: 0px;
    width: 100%;
}

.first-likert,
.last-likert,
.first-slider,
.last-slider {
    display: flex;
    align-items: center;
    height: 60px;
}

.first-likert div,
.first-slider div {
    text-align: left;
    width: 100%;
}

.last-likert div,
.last-slider div {
    text-align: right;
    width: 100%;
}

@media(max-width:962px) {
    #content-wrapper .likert .select-box p {
        font-size: 18px;
    }
    .likert .select-box {
        margin: 0px 8px;
    }
}

.no-entry {
    margin-top: 20px !important;
}


/*mobile selectors*/

@media(max-width:768px) {
    .video-inner-wrapper div {
        margin-bottom: 20px;
    }
    .entry-image {
        margin-top: 20px;
    }
    #content-wrapper .with_number .with-linebreaks {
        width: 90%;
    }
    #feedback-box {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .select-box.checked {
        padding-left: 4px;
    }
    .likert-wrapper {
        padding-top: 20px;
    }
    .hidden-desktop {
        display: block;
    }
    #select-one-text-2-big-without-numbers .multi-question {
        padding: 20px;
    }
    #select-one-pic-2-big-without-numbers .multi-question {
        padding: 20px;
    }
    .inner-content {
        min-height: 0px;
    }
    .multi-question {
        color: white;
    }
    .likert {
        margin-top: 30px
    }
    #survey .inner-content {
        min-height: 0px;
    }
    #content-wrapper .select-box {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #content-wrapper .likert .select-box {
        width: auto;
        border: 1px solid #5E6060;
        margin: 0 auto;
        padding-left: 0px;
    }
    #select-one-slider .select-box.slider {
        margin: 0 auto;
        padding-left: 0px;
    }
    .likert .select-box.checked {
        border: 1px solid #209DD9;
    }
    #survey .select-one .col-md-6,
    #survey .select-one .col-md-4,
    #survey .select-one .col-sm-6,
    #survey .select-one .col-sm-4,
    #survey .select-one-multi .col-md-6,
    #survey .select-one-multi .col-md-4,
    #survey .select-one-multi .col-sm-6,
    #survey .select-one-multi .col-sm-4 {
        padding: 0px;
    }
    #survey .inner-content {
        padding: 0px;
    }
    .select-box.checked {
        border-top: 0px solid #ccc;
        border-left: 0px solid #ccc;
        border-right: 0px solid #ccc;
        border-bottom: 1px solid #aaa;
        padding: 7px 0px;
    }
    #number-box {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #content-wrapper .likert .select-box p {
        font-size: 14px;
    }
}

@media(max-width:520px) {
    #content-wrapper .likert .select-box p {
        font-size: 10px;
    }
    #content-wrapper .likert .select-box {
        margin: 0px 10px;
    }
    .first-likert,
    .first-slider,
    .last-likert,
    .last-slider {
        font-size: 12px;
        height: 40px;
    }
}

@media(max-width:350px) {
    #content-wrapper .likert .select-box p {
        font-size: 10px;
    }
    .likert .select-box {
        margin: 0px 5px;
    }
    .slider .select-box {
        margin: 0px 5px;
    }
    .first-likert,
    .last-likert {
        font-size: 10px;
        height: 20px;
    }
}

.dropzone {
    padding: 8px;
    border: 1px dotted #333;
    margin: 20px 5%;
    background-color: transparent;
    min-height: 0px;
    text-align: center;
}

.dropzone .dz-message {
    margin: 10px 0px;
}

.dropzone .dz-progress {
    display: none;
}

.dropzone .dz-filename {
    display: none;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

#select-many {
    display: none;
}

.select-many #select-many {
    display: block;
}

.likert-wrapper {
    display: none;
}

.slider-wrapper {
    display: none;
}

.inner-content {
    min-height: 250px;
}

.hidden-desktop {
    display: none;
}

.eyecatcher {
    display: none;
    position: absolute;
    top: -5px;
    right: 40px;
    z-index: 2000;
}

.eyecatcher img {
    width: 200px;
    height: 200px;
    max-height: 200px;
    border-radius: 200px;
    border: 8px solid white;
}

.graph #graph {
    display: block;
}

.responsive-video {
    text-align: center;
    display: block;
    width: auto;
    max-height: 100%;
    padding-bottom: 20px;
}

.responsive-video video {
    height: 200px;
}

.challengeDescription {
    padding: 20px 0px;
    font-size: 16px;
}

#dropzone {
    font-size: 14px;
}

#noEntries {
    padding: 15px;
    font-size: 15px;
}

#myState {
    height: 100%;
}

@media(min-width:960px) {
    .table-container .table-row {
        height: 100%;
        display: table;
    }
    .table-container .table-row .table-col {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

#myState {
    background-color: #8d8c8f;
}

.modal-dialog {
    width: auto;
}

.modal-dialog img {
    max-height: 100%;
    margin: 0 auto;
}

.entry-image img {
    border-radius: 5px;
}

.no-entry {
    text-align: center;
}

#myState .dropzone img {
    margin: 0px;
}

#myState .medal-small {
    margin-left: 5px;
    margin-right: 5px;
}


/* ---------------------------------------------------------
   Slider
   ---------------------------------------------------------*/

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  background: #eee;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
}
