<!DOCTYPE html>
<html lang="{{language}}">
    <!-- Set this to the main language of your site -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{name}}</title>
        <base href="{{base_url}}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link href="css/normalize.css" rel="stylesheet" media="all">
        <link href="css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="css/slick.css" rel="stylesheet" media="all">
        <link href="css/lightbox.css" rel="stylesheet" media="all">
        <link href="css/dropzone.css" rel="stylesheet" media="all">
        <link href="css/slick-theme.css" rel="stylesheet" media="all">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="all">
        <link href="css/zebra_dialog_flat/zebra_dialog.css" rel="stylesheet" media="all">
        <link href="css/styles.css" rel="stylesheet" media="all">
        <link href="css/eyecatcher.css" rel="stylesheet" media="all">
        <link href="custom/styles.css" rel="stylesheet" media="all">

        <script type="text/javascript">
            (function(document, navigator, standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
            var curnode, location = document.location, stop = /^(a|html)$/i;
                    document.addEventListener('click', function(e) {
                    curnode = e.target;
                            while (!(stop).test(curnode.nodeName)) {
                    curnode = curnode.parentNode;
                    }
                    // Condidions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if ('href' in curnode && (curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host))) {
                    e.preventDefault();
                            location.href = curnode.href;
                    }
                    }, false);
            }
            })(document, window.navigator, 'standalone');</script>
        <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
        <script type="text/javascript">
                    // Configuration
                    var config = {
                    debug: true,
                            isFeedback: {{#is_feedback}}true{{/is_feedback}}{{#is_survey}}false{{/is_survey}},
                            layout: "{{layout}}",
                            attributes: "{{optional_layout_attribute}}",
                            questionsCount: 1 * "{{questions_count}}",
                            rest: "{{rest_api_url}}",
                            mediaUrl: "{{uploaded_media_content_url}}",
                            token: "{{token}}",
                            isFirstSlide: {{#is_first_slide}}true{{/is_first_slide}}{{^is_first_slide}}false{{/is_first_slide}},
                            isLastSlide: {{#is_last_slide}}true{{/is_last_slide}}{{^is_last_slide}}false{{/is_last_slide}},
                            validationErrorMessage: "{{validation_error_message}}",
                            pointsMultiplicator: 3,
                            redirect: {{#media_object_type_url}}true{{/media_object_type_url}}{{^media_object_type_url}}false{{/media_object_type_url}}
                    };</script>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/zebra_dialog.js"></script>

        {{#is_feedback}}
        <script src="js/plotly.js"></script>
        {{/is_feedback}}
        <script src="js/slick.min.js"></script>
        <script src="js/exif.js"></script>
        <script src="js/dropzone.js"></script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/lightbox.js"></script>
        <script src="js/script.js"></script>
        <script src="js/mc.js"></script>

        <script src="custom/script.js"></script>
    </head>

    <body>
       <noscript>
           <div>
               <p>Diese Website funktioniert nur mit aktiviertem JavaScript.<br/>Ce site ne fonctionne qu’avec JavaScript activé.</p>
           </div>
       </noscript>
        <form name="form1" id="form1" method="post" autocomplete="off">
            <input type="text" style="display:none">
            <input type="password" style="display:none">
        </form>
        <div class="container">
            <div id="all-wrapper" class="{{#password_input}}title password-box{{/password_input}} {{optional_layout_attribute}} {{#done}}title{{/done}} {{#number_input}}title{{/number_input}} {{#text_input}}title text-box{{/text_input}} {{#multiline_text_input}}title text-box-multiline{{/multiline_text_input}} {{#is_feedback}}{{^is_first_slide}}button-previous{{/is_first_slide}}{{/is_feedback}} {{#is_feedback}}{{^is_last_slide}}button-next{{/is_last_slide}}{{/is_feedback}}">
                <div id="hidden">
                    {{#is_feedback}}
                    <form method="POST" id="form_previous" autocomplete="off">
                        <input type="hidden" name="{{hidden_check_variable}}" value="{{hidden_check_variable_value}}" />
                        <input type="hidden" name="{{hidden_navigation_variable}}" value="{{hidden_navigation_variable_navigate_previous}}" />
                    </form>
                    <form method="POST" id="form_next" autocomplete="off">
                        <input type="hidden" name="{{hidden_check_variable}}" value="{{hidden_check_variable_value}}" />
                        <input type="hidden" name="{{hidden_navigation_variable}}" value="{{hidden_navigation_variable_navigate_next}}" />
                        <input type="submit" value="Next" />
                    </form>
                    {{/is_feedback}} {{#is_survey}}
                    <form method="POST" id="form_submit" autocomplete="off">
                        <input type="hidden" name="{{hidden_check_variable}}" value="{{hidden_check_variable_value}}" />
                        {{#questions}}<input type="hidden" id="result_variable_{{question_position}}" class="result_variables" name="{{result_variable}}" value="" />{{/questions}}
                    </form>
                    {{/is_survey}}
                </div>

                <div id="survey">
                    {{#is_survey}}
                    {{> standard-template}}
                    {{/is_survey}}
                </div>
                <div id="feedback">
                    {{#is_feedback}}
                    {{> standard-template}}
                    {{/is_feedback}}
                </div>

                <div id="profile">
                    {{> profile-template}}
                </div>
                <div id="challenge">
                    {{> challenge-template}}
                </div>

               <div id="nav" class="row">
                    <div id="buttons" class="col-xs-12">
                        <div class="row">
                            {{#is_feedback}}
                            <div onclick="button.previous();" id ="button-previous" class="col-sm-1 col-xs-2 nav-arrow left-nav"><i class="fa fa-angle-left"></i></div>
                            <div class="col-sm-10 col-xs-8"></div>
                            <div onclick="button.next();" id ="button-next" class="col-sm-1 col-xs-2 nav-arrow right-nav pull-right"><i class="fa fa-angle-right"></i></div>
                            {{/is_feedback}}

                            {{#is_survey}}
                            <div class="col-sm-11 col-xs-10"></div>
                            <div onclick="button.submit();" id ="button-next" class="col-sm-1 col-xs-2 nav-arrow right-nav"><i class="fa fa-angle-right"></i></div>
                            {{/is_survey}}
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="row ">
                        <div class="col-sm-12">
<div style="font-weight: bold;">Copyright</div>
<div style="color: #888;">
ETH Zürich | Institut für Informationsmanagement<br/>
Universität St. Gallen | Institut für Technologiemanagement<br/>
Dartmouth College | Geisel School of Medicine<br/>
</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade container" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        <img class="modalImg img-responsive" src="" />
                    </div>

                </div>
            </div>
        </div>

    </body>

</html>
