        <div id="content-wrapper">
            <div id="inner-content-wrapper">
                <div class="row top-row">
                    <div id="logo-area" class="col-sm-3 col-xs-6">
                        <img src="img/logo_pm2.png" class="img-responsive" alt="" title=""/>
                    </div>

                    <div id="logo-area" class="col-sm-3 col-xs-3  col-xs-offset-3 col-sm-offset-6">
                        <div class="pull-right">
                            <img src="img/logo_kispi_DE.png" class="img-responsive logo_de" alt="" title=""/>
                            <img src="img/logo_UNIGE_FR.png" class="img-responsive logo_fr" alt="" title=""/>
                        </div>
                        <div class="eyecatcher">
                            <img src=""/>
                        </div>
                    </div>
                </div>
             <div class="row">
                            <div id="title" class="occ">
                                <span >{{title}}</span>
                                <span class="user pull-right">{{#intermediate_survey_url}}<a href="{{intermediate_survey_url}}">{{/intermediate_survey_url}}<span class="username"></span><img class="medal" src="img/medal_bronce.png" />{{#intermediate_survey_url}}</a>{{/intermediate_survey_url}}</span>
                            </div>
                           
                        </div>


                <!--
                <div id="debug" style="position: absolute; color: red;">
                    Aktuelle Folie: {{title}}
                </div>
                -->
                <!--
                <div id="profile" class="inner-content row">


                    <div class="col-md-6 " id="myCredits">
                        <div class="row" >
                            <div class="col-md-12 header">
                                <h3  data-lang="MC_CHALLENGE_DESCRIPTION_HEADER" class="lang">
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 content">
                                <p class="challengeDescription with-linebreaks">{{#questions}}{{question_text}}{{/questions}}</p>
                                  {{#media_object_type_image}}
                        <div id="image-full">
                            <img class="img-responsive" src="{{media_object_url}}" alt="" title="" />
                        </div>
                        {{/media_object_type_image}}
                                <div class="add-info lang" data-lang="MC_CHALLENGE_ADD_INFO"></div>
                            </div>
                        </div>
                    </div>

                </div> 
                -->
                
                <div class="table-container">
                <div id="challengeOverview" class="inner-content row table-row">


                    <div class="col-md-6 table-col" id="myCredits">
                        <div class="row" >
                            <div class="col-md-12 header">
                                <h3  data-lang="MC_CHALLENGE_DESCRIPTION_HEADER" class="lang">
                                   
                                </h3>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 content">
                                <p class="challengeDescription with-linebreaks">{{#questions}}{{question_text}}{{/questions}}</p>

                                {{#media_object_type_image}}
                        <div id="image-full">
                            <img class="img-responsive center-block" src="{{media_object_url}}" alt="" title="" />
                        </div>
                        {{/media_object_type_image}}
                                <div class="add-info lang" data-lang="MC_CHALLENGE_ADD_INFO"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 open table-col" id="myState">
                        <div class="row" >
                            <div class="col-md-12 header">
                                <h3  data-lang="MC_COMMENT_MY_ENTRY_HEADER" class="lang">
                                    
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                           
                                <div class="col-md-12 content upload">
                                     <form  class="dropzone" id="dropzone" >
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                          </form>
                                </div>
                                <div class="col-md-12 content">
                                    <textarea placeholder="" data-lang="MC_COMMENT_PLACEHOLDER" class="lang"></textarea>
                                </div>
                                <div class="col-md-12 content">                                   
                                    <input id="entrySubmitButton" data-lang="MC_ENTRY_SUBMIT" class="lang" type="button" value="absenden"/>
                                </div>
                           
                        </div>
                    </div>
                    <div class="col-md-6 posted table-col" id="myState">
                        <div class="row" >
                            <div class="col-md-12 header">
                                <h3  data-lang="MC_COMMENT_MY_ENTRY_HEADER" class="lang">
                                   
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 content done">
                                <div class="entry-image">

                                </div>
                                <div class="entry">
                                    <div class="likes">
                                        <img src="img/thumb_white.png">
                                        <div class="count"></div>
                                    </div>
                                    <div class="entry-text">  </div>
                                </div>
                            </div>

                        </div>
                    </div>


 </div>
                </div>
            </div>
        </div>

        <div class="under-wrapper">
            <div class="row">
                <div class="entry-wrapper">

                    <div id="title"></div>
                    <div id="noEntries" class="lang" data-lang="MC_NO_ENTRIES">
                        
                    </div>
                </div>
            </div>
        </div>
        
        {{#intermediate_survey_url}}
        <div id="profile-link" class="under-wrapper">
            <div class="row">
                <div id="title"><a href="{{intermediate_survey_url}}" class="lang" data-lang="MC_TO_PROFILE">...</a></div>
            </div>
        </div>
        {{/intermediate_survey_url}}
    

   