<div id="content-wrapper">
    <div id="inner-content-wrapper">
        <div class="row top-row">
            <div id="logo-area" class="col-sm-3 col-xs-6">
                <img src="img/logo_pm2.png" class="img-responsive" alt="" title="" />
            </div>

            <div id="logo-area" class="col-sm-3 col-xs-3  col-xs-offset-3 col-sm-offset-6">
                <div class="pull-right">
                    <img src="img/logo_kispi_DE.png" class="img-responsive logo_de" alt="" title=""/>
                    <img src="img/logo_UNIGE_FR.png" class="img-responsive logo_fr" alt="" title=""/>
                </div>
                <div class="eyecatcher">
                    <img src="" />
                </div>
            </div>

        </div>
        <div class="row">
            <div id="title" class="occ">
                <span class="lang" data-lang="MC_MY_PROFILE"></span>
                <span class="user pull-right">{{#intermediate_survey_url}}<a href="{{intermediate_survey_url}}">{{/intermediate_survey_url}}<span class="username"></span><img class="medal" src="img/medal_bronce.png" />{{#intermediate_survey_url}}</a>{{/intermediate_survey_url}}</span>
            </div>

        </div>


        <!--
                        <div id="debug" style="position: absolute; color: red;">
                            Aktuelle Folie: {{title}}
                        </div>
                        -->

        <div id="profile" class="inner-content row">


            <div class="col-md-4 " id="myCredits">
                <div class="row">
                    <div class="col-md-12 header">
                        <h3 class="lang" data-lang="MC_POINTS_DESCRIPTION_HEADER">
                                       
                                    </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content">
                        <p class="with-linebreaks">{{#questions}}{{question_text}}{{/questions}}</p>

                        <div class="credit-number "></div>
                        <div class="add-info lang" data-lang="MC_MAX_POINTS"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="myState">
                <div class="row">
                    <div class="col-md-12 header">
                        <h3 class="lang" data-lang="MC_MY_STATE_HEADING">
                                       
                                    </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content">
                        <p class="lang" data-lang="MC_STATE_DESCRIPTION"></p>

                        <img src="" data-lang="MC_STATE_DESCRIPTION_IMAGE" class="img-responsive lang" />
                        <div class="add-info"><span id="beginning-text" class="lang" data-lang="MC_POINTS_TO_STATUS_BEGINNING"> </span><img class="medal-small" src="img/medal_bronce.png" /> <span class="lang" data-lang="MC_POINTS_TO_STATUS_END"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="myGroup">
                <div class="row">
                    <div class="col-md-12 header">
                        <h3 class="lang" data-lang="MC_MY_GROUP_HEADING">
                                       
                                    </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content">
                        <div class="ranking-scala {{language}}">

                            <div class="rank rank_1">

                            </div>
                            <div class="rank rank_2">

                            </div>

                        </div>

                        <div class="add-info"><span class="lang" data-lang="MC_MY_GROUP"></span><span class="my-group">Ausbildungsbetriebe Bern</span></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="under-wrapper">
    <div class="row">

        <div id="title" class="lang" data-lang="MC_SPONSORS_HEADER"></div>
        <div id="sponsorCarousel">

        </div>
    </div>
</div>
<div class="under-wrapper">
    <div class="row">

        <div id="title" class="lang" data-lang="MC_VIDEO_TITLE"></div>
        <div class="video-wrapper">
            <div class="col-sm-12">
                <div class="row">
                    <div class="video-inner-wrapper">
                        <span class="lang" data-lang="MC_VIDEO_NO_ENTRIES"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>