<div id="content-wrapper">
    <div id="inner-content-wrapper">
        <div class="row top-row">
            <div id="logo-area" class="col-sm-12 col-xs-12">
                <img src="img/logo_gross.png" class="img-responsive" alt="" title=""/>
            </div>

            <!-- <div id="logo-area" class="col-sm-3 col-xs-3  col-xs-offset-3 col-sm-offset-6">
                <div class="pull-right">
                    <img src="img/logo_kispi_DE.png" class="img-responsive logo_de" alt="" title=""/>
                    <img src="img/logo_UNIGE_FR.png" class="img-responsive logo_fr" alt="" title=""/>
                </div>
                <div class="eyecatcher">
                    <img src=""/>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div id="title" class="occ">
                <p class="icc with-linebreaks">{{^is_feedback}}{{title}}{{/is_feedback}}</p>

            </div>
        </div>
        <div class="row">
            <div id="title-top" class="occ col-xs-12">
                <p class="icc with-linebreaks">{{#password_input}}Zur Teilnahme an der Studie benötigst du ein Passwort.{{/password_input}}{{#done}}Du hast an dieser Studie bereits teilgenommen.{{/done}}{{^html_only}}{{^text_only}}{{#questions}}{{question_text}}{{/questions}}{{/text_only}}{{/html_only}}{{#is_feedback}}{{title}}{{/is_feedback}}</p>

            </div>
        </div>
        <div class="row">
            <div id="deco-header" class="occ col-xs-12">
                <p class="icc with-linebreaks"></p>
            </div>
        </div>

        <!--
        <div id="debug" style="position: absolute; color: red;">
            Aktuelle Folie: {{title}}
        </div>
        -->
        {{#is_feedback}}
        <div class="row">
            <div id="title_feedback_text" class="occ">
                <div class="col-md-6">
                    <p class="icc with-linebreaks">{{text}}</p>
                </div>

            </div>
        </div>
        {{/is_feedback}}
        <div class="inner-content row">
           {{#is_survey}}
            <div id="media-container" class="col-xs-12 ">
                {{#media_object_url}}
                    <div id="media-full">
                        {{#media_object_type_html_text}}
                            <iframe src="{{media_object_url}}"/>
                        {{/media_object_type_html_text}}
                        {{#media_object_type_image}}
                            <img class="img-responsive" src="{{media_object_url}}" alt="" title="" />
                        {{/media_object_type_image}}
                        {{#media_object_type_audio}}
                            <audio class="img-responsive" src="{{media_object_url}}"/>
                        {{/media_object_type_audio}}
                        {{#media_object_type_video}}
                            <video class="img-responsive" src="{{media_object_url}}" preload="auto" controls/>
                        {{/media_object_type_video}}
                        {{#media_object_type_url}}
                            <a href="{{{media_object_url}}}" id="media-link">{{media_object_url}}</a>
                        {{/media_object_type_url}}
                    </div>
                {{/media_object_url}}
             </div>
             {{/is_survey}}
            <div class="col-xs-12 ">

                {{#html_only}}
                <p class="with-linebreaks">{{#questions}}{{{question_text}}}{{/questions}}</p>
                {{/html_only}}

                {{#questions}}
                <div class="row likert-wrapper">
                    <div class="icc multi-question ">
                        {{question_text}}
                    </div>
                </div>
                <div class="row ">
                    <div id="select-one-lickert-3-6">
                        <div class="select-one occ col-xs-12">

                            <ul class='likert'>
                                {{#answers}} {{#is_first_answer}}
                                <li>
                                    <div class=" first-likert"><div>{{answer_text}}</div></div>
                                </li>
                                {{/is_first_answer}} {{/answers}}

                                {{#answers}}
                                <li>
                                    <div class="select-box lickert-3-6{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}',{{question_position}});">
                                        <p>{{answer_position}}</p>

                                    </div>
                                </li>
                                {{/answers}}

                                {{#answers}} {{#is_last_answer}}
                                <li>
                                    <div class=" last-likert"><div>{{answer_text}}</div></div>
                                </li>
                                {{/is_last_answer}} {{/answers}}
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="row slider-wrapper">
                    <div class="icc multi-question ">
                        {{question_text}}
                    </div>
                </div>
                <div class="row ">
                    <div id="select-one-slider" default-value="{{#answers}}{{#is_last_answer}}{{answer_value}}{{/is_last_answer}}{{/answers}}">
                        <div class="select-one occ">
                            <div class="icc">
                                <div class="col-xs-2">
                                {{#answers}} {{#is_first_answer}}
                                <div class="first-slider"><div>{{answer_text}}</div></div>
                                {{/is_first_answer}} {{/answers}}
                                </div>

                                <div class="col-xs-8">
                                {{#answers}} {{#is_first_answer}}
                                <input class="select-box slider" type="range" name="points"
                                min="{{answer_value}}"
                                max="{{#answers}}{{#is_last_answer}}{{answer_value}}{{/is_last_answer}}{{/answers}}"
                                {{#preselected_answer}}value="{{preselected_answer}}"{{/preselected_answer}}
                                onChange="button.set(this,this.value,{{question_position}});">
                                {{/is_first_answer}} {{/answers}}
                                </div>

                                <div class="col-xs-2">
                                {{#answers}} {{#is_last_answer}}
                                <div class="last-slider"><div>{{answer_text}}</div></div>
                                {{/is_last_answer}} {{/answers}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/questions}}
                <div class="row">
                    <div id="select-one-text-2">
                        <div class="select-one occ">
                            <div class="icc">

                                {{#questions}} {{#answers}}
                                <div class="col-sm-6">
                                    <div class=" select-box with_number text-2{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                        <p class="number">{{answer_position}}</p>
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-many">
                        <div class="select-many occ">
                            <div class="icc">

                                {{#questions}} {{#answers}}
                                <div class="col-sm-4">
                                    <div class=" select-box with_number text-2{{#preselected_answer}} checked{{/preselected_answer}}" id="{{answer_value}}" onClick="button.setMany(this,'{{answer_value}}');">
                                        <p class="number">{{answer_position}}</p>
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-2-big-without-numbers">
                         {{#questions}}
                        <div class="select-one occ">
                            <div class="icc">

                                 <div class="col-xs-12">
                                        <div class="multi-question occ">
                                            <div class="icc">
                                                {{question_text}}
                                            </div>
                                        </div>
                                    </div>

                                {{#answers}}
                                <div class="col-sm-6 col-xs-12" >
                                    <div class="select-box text-2-big{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}',{{question_position}});">
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}}


                            </div>
                        </div>
                         {{/questions}}
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-pic-2-big-without-numbers">
                         {{#questions}}
                        <div class="select-one occ">
                            <div class="icc">

                                <div class="col-xs-12">
                                    <div class="multi-question occ">
                                        <div class="icc">
                                            {{question_text}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6" >
                                    <div class="select-box pic-2-big-anna{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'Anna',{{question_position}});">
                                        <p class="with-linebreaks">Anna</p>
                                    </div>
                                </div>
                                <div class="col-sm-6" >
                                    <div class="select-box pic-2-big-lukas{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'Lukas',{{question_position}});">
                                        <p class="with-linebreaks">Lukas</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                         {{/questions}}
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-1-multi">
                        <div class="select-one-multi occ">
                            <div class="icc">
                                {{#questions}}
                                <div class="multi-box">
                                    {{#answers}}
                                    <div class="select-box text-multi{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.switch(this,'{{answer_value}}',{{question_position}});">
                                    </div>
                                    {{/answers}}
                                    <div class="col-xs-12">
                                        <div class="multi-question occ">
                                            <div class="icc">
                                                {{question_text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-2-multi">
                        <div class="select-one-multi occ">

                            {{#questions}}
                            <div class="multi-box">
                                <div class="col-sm-12">
                                    <div class="multi-question occ">

                                        <h4>
                                            {{question_text}}
                                        </h4>
                                    </div>
                                </div>

                                {{#answers}}
                                <div class="col-sm-6">
                                    <div class="select-box text-multi{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}',{{question_position}});">
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>

                                </div>
                                {{/answers}}
                            </div>
                            {{/questions}}

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div id="select-one-text-3">
                        <div class="select-one occ">
                            <div class="icc">
                                {{#questions}} {{#answers}}
                                <div class="col-sm-6 col-md-4 ">
                                    <div class="select-box with_number text-3 {{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                        <p class="number">{{answer_position}}</p>
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-3-big">
                        <div class="select-one occ">
                            <div class="icc">
                                {{#questions}} {{#answers}}
                                <div class="select-box text-3-big{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                    <p class="number">{{answer_position}}</p>
                                    <p class="with-linebreaks">{{answer_text}}</p>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-4">
                        <div class="select-one occ">
                            <div class="icc">
                                {{#questions}} {{#answers}}
                                <div class="col-sm-6 ">
                                    <div class="select-box with_number text-4{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                        <p class="number">{{answer_position}}</p>
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-5">
                        <div class="select-one occ">
                            <div class="icc">
                                {{#questions}} {{#answers}}
                                <div class="col-sm-6 col-md-4">
                                    <div class="select-box with_number text-5{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                        <p class="number">{{answer_position}}</p>
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="select-one-text-3-9">
                        <div class="select-one occ">
                            <div class="icc">
                                {{#questions}} {{#answers}}
                                <div class="col-md-4 col-sm-6">
                                    <div class="select-box text-3-9{{#preselected_answer}} checked{{/preselected_answer}}" onClick="button.set(this,'{{answer_value}}');">
                                        <p class="with-linebreaks">{{answer_text}}</p>
                                    </div>
                                </div>
                                {{/answers}} {{/questions}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="text-box">
                        <!-- <p>{{title}}</p> -->
                        <input type="text" autocomplete="off" maxlength="100" onkeyup="button.text(this);">
                    </div>
                </div>
                <div class="row">
                    <div id="text-box-multiline">
                        <!-- <p>{{title}}</p> -->
                        <textarea autocomplete="off" onkeyup="button.text(this);"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div id="number-box" class="col-sm-4  col-xs-8 col-xs-offset-2 col-sm-offset-4">
                        <!-- <p>{{title}}</p> -->
                        <input type="text" autocomplete="off" pattern="[0-9]*" onkeyup="button.text(this);" onkeypress="return button.validate(event);">
                    </div>
                </div>

                <div class="row">
                    <div id="password-box">
                        <p>Bitte geben Sie das Passwort hier ein:</p>
                        <input type="password" autocomplete="off" maxlength="20" onkeyup="button.text(this);">
                    </div>
                </div>

                <div class="row">
                    <div id="text-full" style="height: 100px">
                        {{^ is_feedback}}
                        <p class="with-linebreaks">{{#questions}}{{question_text}}{{/questions}}{{text}}</p>
                        {{/ is_feedback}}
                    </div>
                    <div id="feedback-text">
                        {{# is_feedback}}
                        <p class="with-linebreaks">{{text}}</p>
                        {{/ is_feedback}}
                    </div>
                </div>
                <div class="row">
                    <div id="trafficlight">
                        <div class="col-sm-2 filler" ></div>
                        <div id="beyou" class="col-sm-4">
                            <div class="trafficlight_inner">
                            	<h4 class="lang" data-lang="MC_STRESS"></h4>
                            	<ul>
                                	<li><span class="lang" data-lang="MC_LEHRE"></span><i class="fa fa-circle"></i></li>
                                	<li><span class="lang" data-lang="MC_FREIZEIT"></span><i class="fa fa-circle"></i></li>
	                                <li><span class="lang" data-lang="MC_MIT_ANDEREN_PERSONEN"></span><i class="fa fa-circle"></i></li>
    	                        </ul>
                            </div>
                        </div>
                        <div id="besmart" class="col-sm-4">
                            <div class="trafficlight_inner">
                            	<h4 class="lang" data-lang="MC_SOZIALKOMPETENZEN"></h4>
                           		<ul>
                                	<li><span class="lang" data-lang="MC_AUF_ANDERE_ZUGEHEN"></span><i class="fa fa-circle"></i></li>
                                	<li><span class="lang" data-lang="MC_BEDUERFNISSE_AUSDRUECKEN"></span><i class="fa fa-circle"></i></li>
	                                <li><span class="lang" data-lang="MC_GRUPPENDRUCK_AUSHALTEN"></span><i class="fa fa-circle"></i></li>
    	                        </ul>
                            </div>
                        </div>
                        <div id="behealth" class="col-sm-4">
                            <div class="trafficlight_inner">
								<h4 class="lang" data-lang="MC_GESUNDHEITSVERHALTEN"></h4>
								<ul>
                                	<li><span class="lang" data-lang="MC_TABAKKONSUM"></span><i class="fa fa-circle"></i></li>
                                	<li><span class="lang" data-lang="MC_AKOHOLKONSUM"></span><i class="fa fa-circle"></i></li>
	                                <li><span class="lang" data-lang="MC_CANABISKONSUM"></span><i class="fa fa-circle"></i></li>
	                                <li><span class="lang" data-lang="MC_SPORT"></span><i class="fa fa-circle"></i></li>
    	                        </ul>
                       		 </div>
                        </div>
                        <div class="col-sm-2 filler" ></div>
                    </div>
                </div>
                <div class="row">
                    <div id="graph">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                        <div id="innerGraph"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="text-bottom-center" class="occ">
                        <p class="icc with-linebreaks">{{#questions}}{{question_text}}{{/questions}}{{text}}</p>
                    </div>
                </div>
                <div class="row">
                    <div id="text-bottom-scroll">
                        <p class="with-linebreaks">{{#questions}}{{question_text}}{{/questions}}{{text}}</p>
                    </div>
                </div>
                <!-- <div class="row">
                       <div class="col-xs-12">
                        {{#is_survey}}{{#is_last_slide}}{{#feedback_url}}
                        <div id="feedback-box" class="occ">
                            <p class="icc">
                                <a href="{{feedback_url}}" id="feedback-link" data-lang="MC_TO_FEEDBACK" class="lang"></a>
                            </p>
                        </div>
                        {{/feedback_url}}{{/is_last_slide}}{{/is_survey}}
                        {{#is_survey}}{{#is_last_slide}}{{^feedback_url}}{{^is_intermediate_survey}}
                        <div id="feedback-box" class="occ">
                            <p class="icc">
                                <a href="{{base_url}}../" data-lang="MC_END_SURVEY" class="lang"></a>
                            </p>
                        </div>
                        {{/is_intermediate_survey}}{{/feedback_url}}{{/is_last_slide}}{{/is_survey}}
                        {{#is_feedback}}{{#is_last_slide}}{{#from_screening_survey}}{{^is_intermediate_survey}}
                        <div id="feedback-box" class="occ">
                            <p class="icc">
                                <a href="{{base_url}}../../" data-lang="MC_END_SURVEY" class="lang"></a>
                            </p>
                        </div>
                        {{/is_intermediate_survey}}{{/from_screening_survey}}{{/is_last_slide}}{{/is_feedback}}
                        {{#done}}{{^is_intermediate_survey}}
                        <div id="feedback-box" class="occ">
                            <p class="icc">
                                <a href="{{base_url}}../" data-lang="MC_BACK_TO_OVERVIEW" class="lang"></a>
                            </p>
                        </div>
                        {{/is_intermediate_survey}}{{/done}}

                        <div id="consent-info" class="occ">

                            <p class="icc">
                                Ich kann meine Teilnahme jederzeit und ohne Angabe von Gründen beenden. Ich erkläre, dass ich die Studieninformation gelesen und verstanden habe. Meine Fragen im Zusammenhang mit der Teilnahme an dieser Studie sind mir zufriedenstellend beantwortet worden.
                            </p>

                        </div>
                    </div>
                </div> -->
            </div>
            {{#is_feedback}}
            <div class="col-xs-12 ">
                {{#media_object_url}}
                    <div id="media-full">
                        {{#media_object_type_html_text}}
                            <iframe src="{{media_object_url}}"/>
                        {{/media_object_type_html_text}}
                        {{#media_object_type_image}}
                            <img class="img-responsive" src="{{media_object_url}}" alt="" title="" />
                        {{/media_object_type_image}}
                        {{#media_object_type_audio}}
                            <audio class="img-responsive" src="{{media_object_url}}"/>
                        {{/media_object_type_audio}}
                        {{#media_object_type_video}}
                            <video class="img-responsive" src="{{media_object_url}}" preload="auto" controls/>
                        {{/media_object_type_video}}
                        {{#media_object_type_url}}
                            <a href="{{{media_object_url}}}" id="media-link">{{media_object_url}}</a>
                        {{/media_object_type_url}}
                    </div>
                {{/media_object_url}}
             </div>
             {{/is_feedback}}
        </div>

    </div>
</div>

{{#intermediate_survey_url}}
<div id="profile-link" class="under-wrapper">
    <div class="row">
        <div id="title"><a href="{{intermediate_survey_url}}" class="lang" data-lang="MC_TO_PROFILE">...</a></div>
    </div>
</div>
{{/intermediate_survey_url}}
